# ThingSpeak
THINGSPEAK_WRITE_API_KEY=replace_with_your_write_key
THINGSPEAK_URL=https://api.thingspeak.com/channels/682490/feeds.json?results=1

# Telegram
TELEGRAM_BOT_TOKEN=replace_with_your_bot_token
TELEGRAM_CHAT_ID=replace_with_your_chat_id

# Optional
MODEL_PATH=vehicle_monitoring_model.pkl
